<footer>
    <div class="footer-container">
        <div class="socialIcons">
            <a href="https://twitter.com/Nick0tine77"><i class="fa-brands fa-twitter"></i></i></a>
            <a href="https://www.instagram.com/only_nick__/"><i class="fa-brands fa-instagram"></i></i></a>
            <a href="https://www.youtube.com/channel/UCEsyogRP0iYqP6YJW_7C8Xw"><i class="fa-brands fa-youtube"></i></i></a>
        </div>
        
        <div class="footer-nav">
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/booking">Booking</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>

        <div class="footerBottom">
            <p>Copyright &copy;2023; Designed by <span class="designer">Nichita Riscovoi</span></p>
        </div>
    </div>
</footer>