<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("head") %>
    <title>Workshop(Index)</title>
</head>

<body>

    <%- include("header") %>

    <main>
        <div class="heroText">
            <h1>read the notes.</h1>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">https://www.youtube.com/watch?v=dQw4w9WgXcQ</a>
        </div> 
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </main>

    <%- include("footer") %>
</body>
</html>