<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("head") %>
    <title>Workshop(Index)</title>
</head>

<body>

    <%- include("header") %>

    <main>
            <div class="heroImage">
                <div class="heroText">
                    <h1>Welcome to Nick's Coding</h1>
                    <p>This is a workshop for those who want to learn code!</p>
                    <p>Based in Ireland</p>
                    <a href="/booking" class="heroButton">Join</a>
                </div>
            </div>
    </main>

    <%- include("footer") %>
    
</body>
</html>